PORT=3480
MONGODB_URI=mongodb://127.0.0.1:27017/gpcchkmo_rsvp
DOMAIN=http://localhost:3480

# Phase 2+
# STRIPE_SECRET_KEY=
# STRIPE_WEBHOOK_SECRET=
# SENDGRID_API_KEY=
# MAIL_FROM=noreply@gpcchkmo.org
# SUPPORT_EMAIL=info@gpcchkmo.org
